<?xml version="1.0" encoding="windows-1252"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   http://www.springframework.org/schema/jee
	   http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
	   http://www.springframework.org/schema/util
	   http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="jndiProperties" class="aptea.spring.SigisJNDIEnvironment" />

	<jee:remote-slsb 
		id="CallKeynectisService"
		resource-ref="false"
		business-interface="com.aptea.ICallKeynectisServiceRemote" 
		jndi-name="com.aptea.ICallKeynectisServiceRemote"
		lookup-home-on-startup="false"
		refresh-home-on-connect-failure="true"
		environment-ref="jndiProperties"
		cache-home="true">
	</jee:remote-slsb>

</beans>
